/node_modules/bower_components*.json/.idea*.xml/.idea/*.xml/.idea/*.name/.idea/*.iml
/.idea/encodings.xml
/.idea/jsLibraryMappings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
